$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Fredoka', sans-serif;
$font-third: 'Montserrat', sans-serif;
$color-blue:#1E74FD;
$color-purple:#673BB7;
$color-green:#10d876;
$color-light:#f7f7f7;
$color-dark:#343a40;
$color-gray:#EEEEEE;
$color-dark-gray:#adb5bd;
