@import '_variables.scss';
@import '_reset.scss';
@import '_static.scss';
@import '_common.scss';
@import '_plugins.scss';

.card{
    box-shadow: 0 8px 30px rgba(0,0,0,.05);
    h4{
        @include common-text(12px,$color-dark,700);
        line-height: 1.2;
        span{
            color: $color-dark-gray;
        }
        a{
            @include common-text(12px,$color-dark,700);
        }
    }
    p, span{
        @include common-text(12px,$color-dark-gray,500);
        line-height: 26px;
    }
    a{
        @include common-text(12px,$color-blue,500);
    }
    .followUser{
        @include common-btn2(#fff,$color-green);
        @include common-text(10px,#fff,700);
    }
    .confirmUser{
        @include common-btn2(#fff,$color-blue);
    }
    .deleteUser{
        @include common-btn2(#fff,$color-dark-gray);
    }
    .img-count{
        width: 100%;
        height: 100%;
        color: $color-light;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.6);
        border-radius: 5px;
        text-align: center;
       b{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include common-text(20px,#fff,600);
       }
    }
    .emoji-buttons, span{
        @include common-text(12px,$color-dark,600);
        line-height: 26px;
        i{
            color: #fff;
            font-size: 16px;
            width: 25px;
            height: 25px;
            @extend .circle-bg ;
            background-color: red;
        }
    }
}
.card-mind{
    .photoShare{
        input{
            @include common-text(12px,$color-dark-gray, 500);
        }
    }
    .cm-create {
       outline: none;
       border: none;
       background: transparent;
       @include common-text(12px,$color-dark-gray, 500);
        i{
            color: $color-blue;
            background-color: $color-gray;
            width: 35px;
            height: 35px;
            font-size: 18px;
            @extend .circle-bg;
        }
    }
    textarea{
        @include common-text(12px,$color-dark-gray, 500);
        border: 2px $color-light solid;
        border-radius: 15px;
        outline: none;
    }
    .cm-bottom{
        i{
            font-size: 22px;
        }
        span{
            @include common-text(12px,$color-dark, 600);
            letter-spacing: .4px;
        }
    }
}
.card.events{
    h4{
      span{
        @include common-text(10px,$color-dark-gray,600);
      }
    }
    .date{
        text-align: center;
        @include common-text(25px,#fff,700);
        letter-spacing: 1px;
        span{
            display: block;
            @include common-text(14px,#fff,600);
            letter-spacing: .4px;
        }
        
    }
}
.star{
    color: #FFCA10;
    font-size: 14px;
}
.quantity{
    border: 1px solid #000;
    width: 98px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        font-size: 18px;
    }
    a{
        @include common-text(18px,#000,500);
    }
}
.bg-pattern{
    &::before{
        content: "";
        position: absolute;
        top: 90px;
        right: 0;
        width: 80px;
        height: 80px;
        border-radius: 0 80px 80px 80px;
        background-color: #fff;
        opacity: .3;
    }
    .bg-pattern-div{
        &::before{
            content: "";
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 80px;
            right: 83px;
            top: 8px;
            background-color: #fff;
            opacity: .3;
        }
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            height: 80px;
            top: 90px;
            right: 83px;
            background-color: #fff;
            border-radius: 80px 80px 80px 0;
            opacity: .3;
        }
    }
    h2{
        @include common-text(46px,#fff,700);
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 80px;
            right: 0;
            top: 8px;
            background-color: #fff;
            opacity: .3;
        }
    }
}
label{
    @include common-text(14px,#515184,600);
}
.unreadMsg{
    background-color: #e8f1fa;
}
.checkout-payment{
    background-color: #f6f7fc;
    .cart-totals{
        h4{
            @include common-text(22px,#000,600);
        }
        
    }
}
.order-table{
    margin-top: 48px;
     .tr-left{
        text-align: left;
         @include common-text(14px,#515184,600);
     }
     td{
        text-align: right;
         span{
             @include common-text(12px,$color-dark-gray,600);
         }
     }
 }
.login-register-all{
    .card-body{
        h2{
            font-weight: 700;
            font-size: 40px;
        }
        form{
            margin: 1rem 0;
            .form-group{
                position: relative;
                i{
                    position: absolute;
                    left: 15px;
                    top: 20px;
                }
                .input1{
                    height: 60px;
                    border: 2px $color-gray solid;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 40px;
                }

            }
        }
    }
}
.mobile-lr{
    display: none;
    span{
        color: $color-dark;
        margin: 0 8px;
    }
    a{
        color: $color-dark;
        font-weight: 500;
        transition: .5s;
        &:hover{
            color:$color-blue;
        }
    }
}
.not-found-all{
    background-color: #FEFEFE;
    padding: 8rem 0 6rem;
    margin-bottom: -36px;
    h1{
        @include common-text(50px,#000,700);
    }
    p{
        @include common-text(14px,$color-dark-gray,400);
        margin: .5rem 0 2rem;
    }
    a{
        @include common-text(12px,$color-light,400);
        letter-spacing: 1px;
        background-color:$color-blue;
        border-radius:.3rem;
        text-align: center;
    }
}
.home-all{
    background-color:#FBFCFE;
    .slick-dots{
        display: none!important;
    }
    .home-body{
        padding: 7rem 90px;
        .item{
            width: 125px;
            height: 200px;
            position: relative;
            background-position: center;
            background-size:cover;
            margin-right: 7px;
            .card-body{
                position: absolute;
                bottom: 0;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span{
                         i{
                            width: 100%;
                            height: 100%;
                            color: $color-blue!important;
                    }
                    }
                   
                }
            }
        }
    }
 }
.shop-all{
    padding: 7rem 0;
    .shop-slider-body{
        border-radius: .3rem;
        box-shadow: 0 8px 30px rgba(0,0,0,.05);
        .card{
            box-shadow: none;
            background-color: transparent;
            h2{
                @include common-text(44px,#000,300);
                b{
                    @include common-text(44px,#000,700);
                }
            }
            .shop-btn{
                @include common-btn2(#fff,$color-blue);
                font-weight: 600;
                width: 150px;
            }
        }
    }
    .shop-product{
        box-shadow: none;
        position: relative;
        .hover{
            position: absolute;
            transition:all .5s;
            opacity: 0;
            visibility: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: #fff;
            padding:5px 10px;
            i{
                color: #000;
                font-size: 16px;
                margin: 0 .5rem;
            }
        }
        &:hover{
            .hover{
                opacity: 1;
                visibility: visible;
            }
        }
        .card-image{
            background-color: $color-gray;
        }
        h2{
           a{
            @include common-text(14px, #000,700);
           } 
        }
        h6{
            @include common-text(14px, $color-dark-gray,600);
        }
       
    }
    .searchCat{
        @include common-text(13px,$color-dark-gray, 600);
        outline: none;
        width: 180px;
        padding: 7px 15px;
        border: 2px solid  $color-gray;
        border-radius: 20px;
    }
    .filterShop{
        list-style:disc;
        padding: 8px 30px;
        li{
            a{
                color: $color-dark-gray;
            }
        }
    }
    .filterShop.disc {
        color: $color-dark-gray;
    }
    .price-pr{
        @include common-text(16px, $color-blue,700)
    }
    .price-sale{
        text-decoration: line-through;
        margin: 0 8px;
    }
}
.single-product-all{
    padding:7rem 0;
    .product-title{
        @include common-text(36px,#000,700);
    }
    .price-pr{
        @include common-text(44px, $color-blue, 700);
        letter-spacing:.6px;
        span{
            &:first-child{
                @include common-text(28px, $color-blue, 700);
            }
        }
        .price-sale{
            text-decoration: line-through;
            @include common-text(18px, $color-dark-gray, 700);
        }
    }
    .add-to-c-detail{
        @include common-text(14px, #fff,700);
        background-color: $color-dark;
        letter-spacing: 1px;
        padding: 1rem 3rem;
    }
    .add-to-w-detail{
        @extend .circle-bg;
        width: 60px;
        height: 60px;
        background-color:#D5D8D9; 
        @include common-text(18px,#fff,500);
    }
   .review-wrapper{
        h2{
            @include common-text(32px,#000,600);
            text-align: center;
        }
        h3{
            @include common-text(18px,$color-dark,500);
            margin: 1rem 0;
        }
        h4{
            @include common-text(14px,$color-dark,500);
        }
        .rating-row{
            p{
                @include common-text(14px,$color-dark,500);
            }
            .rating-box {
                display: inline-block;
                .rating-container {
                  direction: rtl !important;
                  label {
                    display: inline-block;
                    margin: 10px 0;
                    color: #d4d4d4;
                    cursor: pointer;
                    font-size: 20px;
                    transition: color 0.2s;
                  }
                  input {
                    display: none;
                  }
                  label:hover, label:hover ~ label, input:checked ~ label  {
                    color: #FFCA10;
                  }
                }
              }
              
        }
        
        .review-form{
            .form-group{
                @include common-text(12px,$color-dark,400);
                label{
                    margin: 8px 0;
                }
            }
            
        }
        
    }
}
.cart-all, .wishlist-all{
    padding: 7rem 0;
    .product-table{
        thead{
            background-color: #f6f7fc;
        }
        th, .fmont{
            @include common-text(16px,#515184,700);
        }
        tbody{
            .product-headline{
                a{
                    @include common-text(14px, #000, 600);
                }
            }
            .product-p{
                .product-price-wrapper{
                    .money{
                        @include common-text(14px,$color-dark-gray,700);
                        span{
                            font-size: 10px;
                        }
                    }
                }
            }
            .product-quantity{
                .quantity{
                    border-color: $color-gray;
                    padding: 5px;
                    span{
                        font-size: 14px;
                    }
                }
            }
            .product-remove{
                i{
                    color: $color-dark-gray;
                }
            }
        }
    }
}
.checkout-all{
    padding: 7rem 0;
    h4{
        @include common-text(22px,#000,600);
    }
    .page-title{
        .form-control {
            line-height: 50px;
            height: 50px;
            font-size: 14px;
            display: inline-block;
            border: 2px #eee solid;
        }
    }
    .order-details{
        .table-content{
            background-color: #F6F7FC;
            .order-table2{
                thead,tfoot{
                    th{
                        @include common-text(16px,#515184,700)
                    }
                }
                tbody{
                    th,td{
                        @include common-text(14px,$color-dark-gray,500)
                    }
                }
                tfoot{
                   td, span{
                    @include common-text(14px,$color-dark,700)
                   }
                }
            } 
        }
    }
    .place-order{
        @include common-text(16px,#fff,600)
    }
    
}
.account-all{
    padding: 7rem 12rem;
    background-color: #E8F1FA;
    h2{
        @include common-text(26px, #000,700)
    }
    .account-details{
        background-color: $color-blue;
        h4{
            @include common-text(18px, #fff,600)
        }
        i{
            color: #fff;
            font-size: 20px;
        }
    }
    .input-file{
        input{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        label{
            @include common-text(14px, #555,600);
            cursor: pointer;
            border: 2px dashed #ddd;
        }
        i{
            font-size: 42px;
            display: block;
        }
        span{
            @include common-text(14px, #555,600);
        }
    }
    textarea{
        @include common-text(14px, #515184,400);
        outline: none;
        background-color: rgb(245, 245, 245);
        border: 2px #eee solid;
    }
}
.settings-all{
    background-color: #E8F1FA;
    padding: 7rem 12rem 1rem;
    h4{
        &:first-child{
            @include common-text(32px,#000,700);
        }
    }
    li{
        h4{
            @include common-text(14px,#000,600);
        }
        i.icon{
            @extend .circle-bg;
            width: 45px;
            height: 45px;
            color: #fff;
            font-size: 22px;
            margin-right: 16px;
        }
        .fa-chevron-right{
            color: $color-dark-gray;
            font-size: 14px;
        }
        .fa-house-user{
            background: linear-gradient(135deg,#05f,#09f);
        }
        .fa-location-dot{
            background: linear-gradient(to right,#f2994a,#f2c94c);
        }
        .fa-key{
            background: linear-gradient(to right,#e44d26,#f16529);
        }
        .fa-bell{
            background: linear-gradient(to right,#ee0979,#ff6a00);
        }
        .fa-right-from-bracket{
            background: linear-gradient(to right,#6a47f6,#8743ac);
        }
    }
}
.notification-all{
    padding: 7rem 12rem;
    .chat-wrapper{
        h2{
            @include common-text(22px,#000,700);
            .circle-count{
                background-color: #fe9431;
                @include common-text(10px,#fff,600);
                line-height: 12px;
                letter-spacing: 1px;
            }
            a{
                width: 35px;
                height: 35px;
                @extend .circle-bg;
                background-color: $color-gray;
                color:  $color-dark-gray;
                i{
                    font-size: 16px;
                }
            }
        }
        .notification-box{
            li{
                position: relative;
                a{
                    i{
                        position: absolute;
                        top: 40px;
                        left: 45px;
                        @extend .circle-bg;
                        width: 20px;
                        height: 20px;
                        color: #fff;
                    }
                    .fa-heart{
                        background: linear-gradient(to right,#e44d26,#f16529);
                    }
                    .fa-thumbs-up{
                        background: linear-gradient(135deg,#05f,#09f);
                    }
                    .fa-message{
                        background: linear-gradient(to right,#ee0979,#ff6a00);
                    }
                    h6{
                        @include common-text(12px,#000,500);
                        strong{
                            @include common-text(12px,#000,700);
                        }
                    }
                }
               
            }
          
        }
    }
}   
.single-message-all{
    padding:7rem 0;
    .chat-body{
        .messages-content{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .message-item{
                    .message-user{
                        display: flex;
                        align-items: center;
                        .avatar{
                            width: 50px;
                            height: 40px;
                            margin-right: 10px;
                            img{
                                width: 100%;
                                vertical-align: bottom;
                            }
                        }
                        h5{
                            @include common-text(14px,#000,700);
                        }
                        .time{
                            @include common-text(11px,$color-dark-gray,500);
                        }
                        .bi-check-all{
                            color: $color-blue;
                            font-size: 18px;
                        }
                    }
                    .message-wrap{
                        padding: 14px; 
                        box-shadow: 0 8px 30px rgba(0,0,0,.05);
                        @include common-text(13px,#000,500);
                        background-color: #E7EDFF;
                        border-radius: 10px;
                    }
            }
            .message-item.outgoing-message{
                margin:0 5px 20px auto;
                display: flex;
                flex-direction: column;
                align-items: end;
                .message-wrap{
                    background: $color-blue;
                    color: #fff;
                }
            }
            .send-imageMsg{
                width: 40%;
            }
        }
    }
    .chat-form{
        .micro{
            width: 40px;
            height: 40px;
            @extend .circle-bg;
            background-color: $color-gray;
            outline: none;
            border: none;
            i{
                color: $color-dark;
            }
        }
        input{
            width: 100%;
            border: 0;
            border-radius: 30px;
            @include common-text(14px,#ddd,500);
            padding: 0 15px;
            line-height: 40px;
            background: #EDF2FF;
        }
    }
} 
.message-box-all{
    padding: 7rem 0 3rem;
    .chat-wrapper{
        height: 600px;
        overflow-y: scroll;
        .email-message{
            li{
                a{
                    padding: 20px;
                    .email-user{
                        display: flex;
                        align-items: center;
                        h6{
                            @include common-text(12px,#000,700);
                        }
                    }
                    .email-subject{
                        @include common-text(12px,#000,600);
                        margin: 0 .5rem ;
                    }
                    .email-text, .email-time{
                        @include common-text(12px,$color-dark-gray,600);
                    }
                    .email-file{
                        i{
                            color: $color-dark-gray;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.friends-all{
    padding: 7rem 0;
    .search-form{
        position:relative;
        input{
            @include common-text(14px, $color-dark-gray,500);
            background-color:$color-gray;
            padding: 12px 12px 12px 20px;
        }
        i{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 16px;
            color:$color-dark-gray;
        }
    }
}
.event-all{
    padding:7rem 0;
    .card-image{
        overflow: hidden;
        img{
            transition: .6s ease;
            width: 100%;
            height: 190px;
            object-fit: cover;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    .card-body{
        h4{
            border: 2px #f1f1f1 solid;
            background: $color-gray;
            @include common-text(25px, #000,700);
            span{
                @include common-text(14px, $color-dark-gray,500);
            }
        }   
        h2{
            @include common-text(16px, #000,700);
        }
    }

}
.user-page-all, .author-page-all{
    padding: 7rem 0;
    .photos-body, .events-body{
        height: 300px;
        overflow-y: scroll;
    }
    .card-body{
        .user-name{
            padding-left: 150px;
            @include common-text(20px,#000,700);
        }
        .user-action{
            position: absolute;
            top: 10px;
            right: 15px;
            i{
                @extend .circle-bg;
                border-radius: 4.8px;
                width: 50px;
                height: 50px;
                background-color: $color-gray;
                font-size: 22px;
                color: #000;
            }
            p{
                b{
                    @include common-text(18px,#000,700);
                }
            }
        }
    }
}
.user-page-all{
    .user-action2{
        position: absolute;
        right: 180px;
        top: 10px;
        p{
            b{
                @include common-text(18px,#000,700);
            }
        }
    }
}
.single-post-all{
    padding: 7rem 12rem 1rem;
    .user-img{
       height: 100%;
       img{
        width: 100%;
        height: 100%;
       object-fit: contain;
       }
    }
    .add-comment{
        form{
            position: relative;
            input{
                @include common-text(12px,#000 ,500);
                width: 100%;
                padding: .25rem;
                outline: none;
                border: 0;
            }
            button{
                outline: none;
                @include common-text(10px,$color-blue ,600);
                position: absolute;
                right: 20px;
                top: 0;
            }
        }
    }
    .comments{
       ul{
        height: 400px;
        overflow-y: scroll;
       }
    }
}
.help-all{
    padding: 7rem 0;
    .help-top{

       .card-body{
        h2{
            @include common-text(44px,#fff,700)
        }
        p{
            @include common-text(14px,#fff,400)
        }
        .icon-input{
            position: relative;
            i{
                position: absolute;
                left: 15px;
                top: 19px;
                color: $color-gray;
                font-size: 18px;
            }
            input{
                height: 55px;
                width: 100%;
                @include common-text(14px,$color-dark-gray,500);
                outline:none;
                border: none;
            }   
        }
        .help-search{
            @include common-text(12px,#fff,600);
            height: 55px;
            text-transform: uppercase;
        }
       }
      
    }
}
 //Media Responsive
 @media (max-width:1200px) {
    .navMiddle{
        display: none!important;
    }
 }
 @media (min-width:992px) {
    .footer-all{
        opacity: 0;
        visibility: hidden;
    }
 }
 @media (max-width:992px) {
    .logoIcon{
        width: 24px;
    }
    #logo{
        font-size: 26px;
    }
    .header-lr-all{
        .mobile-lr{
            display: block;
        }
        .header-lr{
            display: none;
        }
    }
   .not-found-all{
    h1{
        font-size: 40px;
    }
   }
   .header-search, .navRight{
    display: none!important;
   }
   .navrRightMobile{
    display: block!important;
    i{
        font-size: 14px!important;
    }
   }
   .header-all{
    padding: 12px 0;
   }
   .home-body{
    padding: 7rem 0!important;
   }
   .shop-all{
    .slick-dots{
        li{
            border: none;
        }
    }
    .slick-arrow{
        &::before{
            width: 30px;
           height: 30px;
          font-size: 16px;
        }
        
    }
    .shop-slider-body{
        h2,b{
            font-size: 30px!important;
        }
    }
   }
   .single-product-all{
    .product-title{
        width: 100%;
        font-size: 30px;
    }
    .multiple-product{
        display: none;
    }
    .single-product-image{
        img{
            width: 900px;
        }
    }
   }
   .account-all, .settings-all, .notification-all,.single-post-all{
    padding: 7rem 4rem;
   }
   .single-post-all{
    .comments{
        ul{
            height: 200px;
        }
    }
   }
 }
 @media (max-width:768px) {
    .login-register-all{
        .card{
            width: 80%;
        }
    }
    .not-found-all{
        margin-bottom: 12px;
    }
    .message-box-all{
        a{
            .form-check, .email-subject{
                display: none;
            }
            .email-user{
                margin-right: .5rem;
            }
            div{
                &:last-child{
                    flex-direction: column;
                }
            }
        }
    }
 }
 @media (max-width:576px) {
    .not-found-all{
        margin-bottom: -9px;
    }
    .cm-bottom{
        span{
            display: none!important;
        }
    }
    .account-all, .settings-all, .notification-all,.single-post-all{
        padding: 7rem 0rem;
    }
    .single-message-all{
        .message-wrap{
            width: 70%;
        }
    }
 }